GOOGLE_SPEECH_TO_TEXT_API_KEY=
ELEVENLABS_API_KEY=
GEMINI_API_KEY=
APIFY_API_TOKEN=
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=
SUPABASE_STORAGE_BUCKET=
SQS_QUEUE_URL=
AWS_REGION=us-east-1
